<header>
	<nav>
		{% for menu in menus.primary %}
			{% if loop.first %}<ul>{% endif %}
			<li {% if loop.first %}class="active"{% endif %}><a href="/{{ menu.webPath }}/">{{ menu.name }}</a></li>
			{% if loop.last %}</ul>{% endif %}
		{% endfor %}
	</nav>

	{% if menus.secondary %}
		<nav>
			{% for menu in menus.secondary %}
				{% if loop.first %}
					<ul>
					{% if secondaryParentName %}
					<li>{{ secondaryParentName }}</li>
					{% endif %}
				{% endif %}
				<li {% if menu.selected %}class="active"{% endif %}><a href="/{{ menu.webPath }}/">{{ menu.name }}</a></li>
				{% if loop.last %}</ul>{% endif %}
			{% endfor %}
		</nav>
	{% endif %}
</header>