{% set parentpath = path.split('\\')[0] %}

{% macro renderMenu(menuStructure) %}
	<li {% if parentpath == menuStructure.path %} class="active"{% endif %}{% if path == menuStructure.path %} class="active"{% endif %}><a href="/{{menuStructure.path}}/">{{menuStructure.name}}</a></li>
{% endmacro %}

<nav class="navbar navbar-inverse">
	<div class="container">
	  	<ul class="nav navbar-nav">
			{% for menu in structure %}
				{% if menu.type == 'directory' %}
					{{ renderMenu(menu) }}
				{% endif %}
			{% endfor %}
		</ul>
	</div>
</nav>

<nav class="navbar navbar-default">
	<div class="container">
		<ul class="nav navbar-nav">
			{% for menu in structure %}				
				{% if menu.children.length %}
					{% for child in menu.children %}
						{% if child.type == 'directory' %}
							{% if child.parent == parentpath %}
								{{ renderMenu(child) }}
							{% endif %}	
						{% endif %}
					{% endfor %}
				{% endif %}
			{% endfor %}
		</ul>
	 </div>
</nav>