{% macro renderMenu(menuStructure) %}
	<li role="presentation"><a href="/{{menuStructure.path}}/">{{menuStructure.name}}</a></li>
{% endmacro %}

<nav class="navbar navbar-inverse">
	<div class="container">
	  	<ul class="nav navbar-nav">
			{% for menu in structure %}
				{% if menu.type == 'directory' %}
					{{ renderMenu(menu) }}
				{% endif %}
			{% endfor %}
		</ul>
	</div>
</nav>
<nav class="navbar">
	<div class="container">
		<ul class="nav navbar-nav">
			{% for menu in structure %}
				{% if menu.name == path %}
					{% if menu.children.length %}
							{% for child in menu.children %}
								{% if child.type == 'directory' %}
									{% if child.parent == path %}
										{{ renderMenu(child) }}
									{% endif %}	
								{% endif %}
							{% endfor %}
					{% endif %}
				{% endif %}
			{% endfor %}
		</ul>
	 </div>
</nav>