{% extends '../master/layout.html' %}

{% block title %} {{ title }} {% endblock %}

{% block pagetype %}
  <ul class="stack-list">

    {% for child in children %}
      <li>
        <a class="stack-cover stack-cover--{{child.slug | lower }}" href="/{{child.path}}">
          <img class="stack-icon" src="/images/pentialogo.svg" alt="">
          <h2 class="stack-title">{{child.name}}</h2>
          <div class="stack-number"></div>
        </a>
      </li>
    {% endfor %}
    
  </ul>
{% endblock %}