<!doctype html>
<html class="no-js" lang="{{ currentLanguage }}">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>{% block title %}{% endblock %} | Pentia</title>
    {% block head %}
    
    <!-- build:css /styles/maincss-3.css -->
    <link rel="stylesheet" href="/styles/main.css">
    <!-- endbuild -->

    {% endblock %}
</head>

<body class="{{slug}}">
    {% block menu %}{% endblock %}

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
            {% block content %}{% endblock %}
            </div>
        </div>
    </div>

    <!-- Async load webfonts for performance gains - mostly interesting for production -->
    <script type="text/javascript">
      WebFontConfig = {
        google: { families: [ 'Roboto:400,300,700:latin' ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1.0.17/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
      </script>
</body>
</html>
