{% macro renderMenu(menuStructure) %}
	<li {% if path == menuStructure.path %} class="active"{% endif %}>
		{% if menuStructure.children[0].children.length %}
			<a href="/{{menuStructure.children[0].children[0].path}}/">{{menuStructure.name}}</a>
		{% else %}
			<a href="/{{menuStructure.children[0].path}}/">{{menuStructure.name}}</a>
		{% endif %}
	</li>
{% endmacro %}

{% macro renderSubMenu(menuStructure) %}
	<li {% if path == menuStructure.path %} class="active"{% endif %}>
		<a href="/{{menuStructure.path}}/">{{menuStructure.name}}</a>
	</li>
{% endmacro %}

<nav class="navbar navbar-inverse">
	<div class="container">
		<div class="row">
			<div class="col-md-2">
				<a href="#" class="logo"></a>
			</div>
			<div class="col-md-8">
			  	<ul class="nav navbar-nav">
					{% for menu in structure %}
						{{ renderMenu(menu) }}
					{% endfor %}
				</ul>
			</div>
			<div class="col-md-2">
				<div class="customer-title">
					
				</div>
			</div>
		</div>
	</div>
</nav>
<nav class="navbar navbar-default">
	<div class="container">
		<div class="row">
            <div class="col-md-8 col-md-offset-2">
				<ul class="nav navbar-nav">
					{% for menu in structure %}
						{% if menu.name == path %}
							{% if menu.children.length %}
								{% for child in menu.children %}
									{% if child.parent == path %}
										{{ renderSubMenu(child) }}
									{% endif %}
								{% endfor %}
							{% endif %}
						{% endif %}
					{% endfor %}
				</ul>
			</div>
		</div>
	 </div>
</nav>